body{
background-image:url(background.JPG);
margin:20px 20px 20px 20px;
border:4px solid grey;
}



h1{
font-family:cursive;
text-align:center;
color:#dc143c;
font-size:50px;
}

h2{
color:black;
font-size:30px;
font-family:cursive;

}
p{
line-height:1.5em;
font-size:20px;
font-family:cursive;

}

h3{
color:#d8bfd8;
text-align:center;
font-size:30px;
font-family:cursive;

}

.link a{
text-decoration:none;
}







